body{
    font-family: 'Space Mono', monospace;
    background-image: url("./img/background.jpg");
}

/*header*/
.header-container{
    display:flex;
    align-items: center;
    justify-content: center;

    padding: 1em;
    background-image: linear-gradient(to right, blue, pink) ;
    margin-bottom: 2em;

    border-bottom: solid black 2px;
}
.header-container-title{
    font-size:2em;
}

/*app*/
.app{
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}

/*app-header*/
.app-header{
    padding: 1em 0 1em 0;
    text-align: center;
    width:800px;
    border: solid black 2px;
    border-bottom: none;
    background-image: linear-gradient(to right, rgb(97, 97, 255), rgb(253, 158, 174)) ;
}
.app-header-title{
    font-size:1.4em;
}

/*app-gacha*/
.app-gacha{
    display:flex;
    align-items: center;
    justify-content:center;
    border: solid black 2px;
    width:800px;
    height:650px;
    background-image: linear-gradient(to right, rgb(97, 97, 255), rgb(253, 158, 174)) ;
}

/*app-gacha-panel*/
.app-gacha-panel{
    display:flex;
    align-items: center;
    justify-content:space-around;
    flex-direction: column;
    height:100%;
    width: 30%;
}

.app-gacha-panel-option{
    display:flex;
    align-items: center;
    flex-direction: column;
    border: solid black 2px;
    width: 70%;
    padding: 1em;
}

.app-gacha-panel-option-title{
    font-size:1.2em;
    margin-bottom: 0.5em;
}

.app-gacha-panel-option-button{
    border: solid black 2px;
    width: 80%;
    height: 2em;
    margin-bottom: 0.5em;
    transition:all 100ms;
    background-color: whitesmoke;
    cursor:pointer;
}
.app-gacha-panel-option-button:hover{
    background-color: rgb(192, 192, 192);
}
.app-gacha-panel-option-button:active{
    background-color: rgb(216, 216, 216);
}

.app-gacha-panel-option-counterItem{
    border: solid black 2px;
    width: 80%;
    height: 2em;
    margin-bottom: 0.5em;
    background-color: whitesmoke;
    display:flex;
    justify-content: center;
    align-items: center;
}

/*app-gacha-logPanel*/
.app-gacha-logPanel{
    width: 70%;
    height:100%;
    border-left: solid black 2px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.app-gacha-logPanel-title{
    font-size: 1.5em;
    margin-bottom: 0.5em;
}
.app-gacha-logPanel-log{
    border: solid black 2px;
    width: 90%;
    height: 85%;
    overflow-y: scroll;
    background-color: whitesmoke;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
}

/*app-gacha-logPanel-wish*/
.app-gacha-logPanel-log-wish{
    display:flex;
    flex-direction: column;
    width: 95%;
    align-items: center;
    border: black solid 2px;
    margin: 1em;
}
.app-gacha-logPanel-log-wish-title{
    font-size: 1.4em;
    padding:0.5em;
    text-decoration: underline;
}
.app-gacha-logPanel-log-wish-character{
    display:flex;
    align-items: center;
    justify-content: space-around;
    border: solid black 1px;
    margin-bottom: 1em;
    padding: 0.5em;
    width:90%;
}
.app-gacha-logPanel-log-wish-character-image{
    width:30%
}
.app-gacha-logPanel-log-wish-character-inf{
    width:50%
}
.app-gacha-logPanel-log-wish-character-inf-table td{
    padding: 0.5em 0 0.5em 0
}

/*character-element*/
.character-cryo{
    background: linear-gradient(to right, rgb(48, 186, 255), rgb(204, 255, 255));
}
.character-pyro{
    background: linear-gradient(to right, rgb(255, 66, 66), rgb(255, 231, 96));
}
.character-hydro{
    background: linear-gradient(to right, rgb(0, 153, 255), rgb(153, 204, 255));
}
.character-anemo{
    background: linear-gradient(to right, rgb(102, 255, 153), rgb(153, 255, 204));
}
.character-electro{
    background: linear-gradient(to right, rgb(139, 22, 255), rgb(153, 153, 255));
}
.character-geo{
    background: linear-gradient(to right, rgb(204, 153, 0), rgb(255, 255, 0));
}